{% extends "manager/base.html.twig" %}
{% block title %}Categories
{% endblock %}
{% block body %}

	<div class="row float-right">
		<div class="input-group mb-2">
			<input id="category-input" type="text" class="form-control" placeholder="Category Title">
			<div class="input-group-append">
				<button id="category-create" class="btn btn-success btn-create" type="button">Create Category</button>
			</div>
		</div>
	</div>
	{% if categories %}

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Category ID</th>
					<th>Category Title</th>
					<th>Actions</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{%  for category in categories %}
					<tr>
						<td width="10%">#{{ category.id }}</td>
						<td width="60%">{{ category.title }}</td>
						<td>
							<a href="{{path('manager_category_update',{"id": category.id})}}" class="btn btn-warning btn-warning">Edit</a>
						</td>
						<td>
							<a href="{{path('manager_category_delete',{"id": category.id})}}" class="btn btn-danger btn-error">Delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Categories not available</p>
	{% endif %}
{% endblock %}

{% block javascripts %}
<script>
	$(document).ready(function () {
		$("#category-create").click(()=>{
			const category_title = $("#category-input").val();

			if(category_title.length < 3)
				window.location = "{{ path('manager_category_create') }}";
			else {
				$.post("{{ path('manager_category_create') }}", {title: category_title}, function(response, status) {
					//your callback here
					if(status == "success")
						window.location = "{{ path('manager_category_list') }}";
					else alert("ERROR")
				}, 'JSON');
			}
		})
	});
</script>
{% endblock %}
