<!doctype html>
<html lang="tr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>
			{% block title %}Symfony 4{% endblock %}
		</title>

		{{ encore_entry_link_tags('app') }}

		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
				<div class="container">
					<a class="navbar-brand" href="{{ path('home') }}">Home Page</a>
					<div class="collapse navbar-collapse">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('hello') }}">Say Hello</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('article_list') }}">Articles</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('contact') }}">Contact US</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<main role="main" class="container main">
			{% include 'flash_messages.html.twig' %}
			{% block body %}{% endblock %}
		</main>

		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</body>
</html>
