{% extends "base.html.twig" %}
{% block title %}Articles
{% endblock %}
{% block body %}

	<div style="display:flex;float:right">
		<a class="btn btn-success btn-create mr-2" href="{{ path('article_create') }}">Create Article</a>
		<a class="btn btn-primary btn-create" href="{{ path('category_list') }}">Categories</a>
	</div>

	{% if articles %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Article Title</th>
					<th>Article Category</th>
					<th>Actions</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{%  for article in articles %}
					<tr>
						<td width="30%">{{ article.title }}</td>
						<td width="60%">{{ article.category }}</td>
						<td>
							<a href="{{path('article_show',{"id": article.id})}}" class="btn btn-info">Show</a>
						</td>
						<td>
							<a href="{{path('article_update',{"id": article.id})}}" class="btn btn-warning btn-warning">Edit</a>
						</td>
						<td>
							<a href="{{path('article_delete',{"id": article.id})}}" class="btn btn-danger btn-error">Delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Articles not available</p>
	{% endif %}
{% endblock %}
